/* Created by Artisteer v4.1.0.59861 */

.ph-header, #ph-header-bg, .ph-layout-cell, .ph-layout-wrapper, .ph-footer, .ph-nav, #ph-hmenu-bg, .ph-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.ph-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.ph-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#ph-header-bg 
{
   display: none;
}

.ph-hmenu>li, .ph-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.ph-hmenu, ul.ph-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#ph-hmenu-bg 
{
   display: none;
}

ul.ph-hmenu>li:first-child {
   padding-right:6px;
}

ul.ph-hmenu ul{
   background-color: #EFF5F0 !important;
}

.ph-content-layout, .ph-content-layout-row, .ph-layout-cell 
{
   display: block;
   zoom: 1;
}
.ph-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

ul.ph-vmenu, ul.ph-vmenu ul, ul.ph-vmenu li{
   zoom: 1;
}

ul.ph-vmenu ul 
{
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.ph-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.ph-search div>input[type="text"]
{
   width: 100%;
}

* html form.ph-search>input[type="text"] 
{
   margin :0;
}

.ph-postmetadataheader{
   zoom:1;
}

.ph-postheadericons span{
   zoom: 1;
}
.ph-postcontent {
   height: 1%;
}

.ph-postmetadatafooter{
   zoom:1;
}

.ph-postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.ph-sidebar1
{
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='ph-sidebar1-bg' + (className.indexOf('ph-sidebar1-fix') == -1 ? '' : ' ph-sidebar1-bg-fix' ));
}

.ph-sidebar1-bg 
{
   border-right:1px solid #A4C6A7;
   position:absolute;
   z-index:-2;
   direction: ltr;
   left:  0;
   bottom:0;
   top:0;
   width: 275px;
   overflow:hidden;
   display:block;
}

.ph-content 
{
   width: auto;
   float:none;
}

